body {
  font-family: 'Noto Sans';
 
}

.main-hero  {
background-color: #efeded;


}

.text-white{
  color: white;
}

.back-hero{
  background: url(images/sacalobra.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.box{
  padding-bottom: 0px;
}

.footer{
  background-color: #323232;
  color:white;
}

a.button.is-dark.is-rounded:hover {
  background: #e76000;
}

html {
  scroll-behavior: smooth;
}

.heading{
  text-transform: lowercase;
  font-size: 1rem;
}


.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.has-equal-height .card-footer {
  margin-top: auto;
}

.navbar-brand .navbar-item{
    padding-left: 25px;
} 